* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 350px;
    box-shadow: 0 0 15px 0 purple inset;
    border-radius: 6px;
    margin-left: 20px;
    margin-top: 20px;
    overflow: hidden;
  }
  
  .squares {
    width: 50px;
    height: 50px;
    margin: 20px;
    border: 2px solid ;
  }

  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .blue {
    background-color: blue;
  }
  
  .black {
    background-color: black;
  }
  
  .white {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .box {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    justify-items: center;
    align-items: center;
  }
  
  .square {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 2px solid black;
    margin: 10px;  
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }